
.pdf-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #282828;
  padding-top: 60px;
}

.pdf-container img {
  width: 51%;
  margin-bottom: 10px;
}

.pdf-header {
  width: 47%;
}

.pdf-toolbar {
  width: 100%;
  background-color: #3c3c3c;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.pdf-toolbar input {
  width: 40px;
  background-color: #1e1e1e;
  border: none;
  color: white;
  text-align: center;
}

.page-image {
  scroll-margin-top: 100px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 576px) {
  .pdf-toolbar {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 0px;
  }

  .pdf-header {
    width: 100%;
  }

  .pdf-container img {
    width: 92%;
  }
}
